* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E2329;
    width: 100%;
    min-height: 100vh;
    color: #F3BA2F;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 32px;
}

p {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 32px;
}

.restartb {
    display: flex;
    justify-content: center;
}

.restartb button {
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px;
    border-radius: 10px;
    padding: 5px;
    background-color: rgba(55, 207, 121, 0.65);
    color: white;
    border-color: #F3BA2F;
}

#htp-button {
    position: fixed;
    font-family: 'DotGothic16', sans-serif;
    font-size: 14px;
    border-radius: 5px;
    top: 1%;
    right: 5%;
    padding: 5px;
    background-color: rgba(55, 207, 121, 0.65);
    color: white;
    border-color: #F3BA2F;
}

.card-container {
    display: grid;
    justify-content: center;
    margin-top: 3%;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 80px);
}

.tracker {
    display: grid;
    grid-template-rows: auto;
    margin-top: 3%;
    margin-bottom: 3%;
}

#winner {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    padding: 40px;
}

#winner>p {
    font-size: 16px;
}

.hidden {
    display: none;
}

.card {
    height: calc(144px / 2 * 3);
    width: 96px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all ease-in-out;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

#howtoplay {
    font-family: 'DotGothic16', sans-serif;
    display: none;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
}

#howtoplay ol {
    text-align: center;
    list-style-position: inside;
}

@media screen and (min-width: 576px) {
    h1 {
       font-size: 48px; 
    }
    #htp-button {
        position: fixed;
        font-family: 'DotGothic16', sans-serif;
        font-size: 16px;
        top: 2%;
        right: 2%;
    }
    .card-container {
        grid-gap: 25px;
        grid-template-columns: repeat(4, 80px);
    }

    .tracker {
        font-size: 48px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .restartb button {
        font-size: 18px;
    }

    p {
        font-size: 36px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        font-size: 92px;
    }

    #htp-button {
        top: 3%;
        right: 3%;
        font-size: 20px;
    }

    .card-container {
        grid-gap: 20px;
        grid-template-columns: repeat(6, 140px);
        grid-template-rows: repeat(2, calc(140px / 2 * 3));
    }

    .tracker {
        font-size: 48px;
        display: flex;
        margin-left: 25%;
        margin-right: 25%;
    }

    .restartb button {
        font-size: 36px;
    }

    p {
        font-size: 48px;
    }
}