* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1E2329;
    width: 100%;
    min-height: 100vh;
    color: #F3BA2F;
}

h1 {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 64px;
}

p {
    font-family: 'DotGothic16', sans-serif;
    text-align: center;
    font-size: 32px;
}

.restartb {
    display: flex;
    justify-content: center;
}

.restartb button {
    font-family: 'DotGothic16', sans-serif;
    font-size: 24px;
    border-radius: 10px;
    background-color: rgba(55, 207, 121, 0.65);
    color: white;
    border-color: rgba(236, 214, 138, 0.9);
}

.card-container {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 120px);
    grid-template-rows: repeat(2, calc(120px / 2 * 3));
}

.card {
    height: calc(144px / 2 * 3);
    width: 96px;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5 ease-in-out;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 890px) {
    h1 {
        font-size: 92px;
    }
    .card-container {
        grid-template-columns: repeat(6, 140px);
        grid-template-rows: repeat(2, calc(140px / 2 * 3));
    }
    .restartb button {
        font-size: 36px;
    }
    p {
        font-size: 48px;
    }
}